* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4caf4f;
  --secondary-color: #f5f7fa;
  --text-color: #4d4d4d;
  --paragraph-color: #717171;
  --footer-color: #263238;
  --light-grey-color: #5C656A;
  --plane-color: #D9DBE1;
}

/* navbar */

.navbar {
  box-shadow: 0px 2.78px 5.57px 0px rgba(171, 190, 209, 0.4);
}

.green-btn {
  color: white !important;
  background-color: var(--primary-color);
}

.green-btn:hover {
  color: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
}

.arrow:hover {
  color: var(--primary-color) !important;
}

.links a:hover {
  color: var(--primary-color) !important;
}

/* hero sec */
.green-text {
  color: var(--primary-color);
}

.hero {
  background-color: var(--secondary-color);
}

.para-grey {
  color: var(--paragraph-color);
}

.text-grey {
  color: var(--text-color);
}

/* community */

.feature {
  box-shadow: 0px 1.39px 2.78px 0px #a5b7c93e;
  border-radius: 5px;
}

/* Reached */
.reach {
  background-color: var(--secondary-color);
}

.b-grey {
  background-color: var(--secondary-color);
}

/* Footer */
.foot {
  background-color: var(--footer-color);
}

.email{
  background-color: var(--light-grey-color);
}

.plane{
  padding-right: 30px;
}

.email::placeholder{
  color: var(--plane-color);
}