:root{
    --primary-color: #4CAF4F;
    --secondary-color: #f5f7fa;
    --text-color: #717171;
}

/* navbar */

.navbar{
    box-shadow: 0px 2.78px 5.57px 0px rgba(171, 190, 209, 0.4);
}

.green-btn{
    color: white !important;
    background-color: var(--primary-color);
}

.green-btn:hover{
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
}

.arrow:hover{
    color: var(--primary-color) !important;
}

.links a:hover{
    color: var(--primary-color) !important;
}

/* hero sec */
.green-text{
    color: var(--primary-color);
}

.hero{
    background-color: var(--secondary-color);
}

.text-grey{
    color: var(--text-color);
}